<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
  </head>
  <body>
    <ul>
      <% locals.messages.map((message) => {%>
      <li>
        <span><%=message.user %></span>
        <span>Message: <%= message.text %></span>
      </li>
      <%}) %>
    </ul>
  </body>
</html>
